h1{
    color:#0D0D0D;
    font-size: 40px;
    text-align: center;    
}

h2{
    color: black;
    font-size: 30px; 
}
h3{
    font-size: 25px;
}

body{
    padding: 70px;
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
}

header{
    background: #F2F2F2;
}

.main-nav{
    position:static;
    top: 0;
    left: 0;
    width: 20%;
    background-color: #F2F2F2;
    padding: 1em;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.main-nav svg{
    fill: #EB5428;
    height: auto;
    width: 20px;
    cursor: pointer;
}
        
.main-nav .nav-item{
    display: flex;
    text-align: center;
    margin-right: 10px;
}

.main-nav .nav-img{
    width: 20px;
    height: auto;
}

.main-nav .nav-caption{
    display: block;
    color: #333;
    font-size: 0.75em;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

main{
    background-color: #F2F2F2;
}

nav{
    background-color: white;
    display: flex;
    flex-direction: column;
}

.icon-button{
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.icon-button svg{
    fill: #EB5428;
    width: 24px;
    height: 24px;
    
}

.icon-button:hover, .icon-button:focus{
    background-color: #f0f0f0;
    outline: none;
}

.icon-button:focus-visible{
    box-shadow: 0 0 0 2px rgba(235, 84, 40, 0.5);
}

.icon-button{
    transition: background-color 0.3s ease;
}

@media print{

    html, body{
        margin: 0.5in;
        padding: 0;
    }

    body{
        font-family: 'Times New Roman', serif;
    }

    img{
        display: none;
    }

    nav{
        display: none;
    }
    /*replaces the hyperlinks*/
    a[href]:after{
        content:" (" attr(href) ")";
    }

    @page {
        size: auto;
        margin: 0.5in;
    }

    .page-break{
        page-break-after: avoid;
        break-after: avoid;
    }

    .no-print{
        display: none;
    }
}

@media only screen and (max-width: 414px){
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main-nav{
        display: flex;
        justify-content: space-between;
        width: 100%;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .main-nav .nav-item, .main-nav svg:not(icon-hamburger, .icon-logo, .icon-signin){
        display: none;
    }

    .main-nav form{
        width: 100%;
        order: 1;
    }

    .icon-hamburger{
        display: block;
    }

    h1{
        order: 2; 
    }

    .icon-save, .icon-share, .icon-print, .icon-jump{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    article > img{
        max-width: 100%;
        height: auto;
        display: block;

    }

    .recipe-details{
        display: flex;
        flex-direction: column;
    }

    .ingredients, .directions{
        display: flex;
        flex-direction: column;
    }

    .side-dishes{
        background-color: #7ABFBF;
    }    

    .social-media nav{
        display: flex;
        justify-content: space-around;
        width: 100%;
        order: 4;
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 768){
    .main-nav, 
    .footer-content,
    .side-dishes,
    .recipe-description,
    .recipe-details,
    .ingredients,
    .directions{
        margin: 0;
        padding: 0;
        border: none;
        background: none;
        box-shadow: none;
        max-width: none;
        flex-basis: auto;
        order: 0;
    } 

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em;
    }

    header .logo{
        order: 1;
    }

    header form{
        order: 2;
        flex-grow: 1;
        margin: 0 1em;
    }
 
    header .signin{
        order: 3;
    }

    .header-top{
        text-align: left;

    }

    .header-nav{
        width: 100%;
        display: block;
    }

    .main-nav{
        display: flex;
        justify-content: space-between;
    }

    .main-nav .nav-item{
        display: flex;
    }

    .main-nav .nav-img{
        width: 100%;
        height: auto;
    }

    .main-nav .nav-caption{
        display: block;
        color: #333;
        font-size: 0.75em;
        text-align: center;
    }
}
@media (min-width: 1280px) {
    body{
        margin: 0;
        background-color: #F2F2F2;
        
    }

    header, main, footer{
        margin-left: 10%;
        margin-right: 10%;
        background-color: #fff;
        position: relative;
        box-sizing: border-box;
    }

    .header-top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-top h1, nav.header-nav, .header-top img{
        margin-bottom: 1rem;
    }

    form{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;

    }

    form input[type="search"],
    form button {
        margin: 0 0.5rem;
    }

    .recipe-description,
    .recipe-details,
    .ingredients,
    .directions,
    .side-dishes{
        background-color: #fff;
        padding: 1rem;
    }

    .recipe-description{
        display: flex;
        justify-content: space-between;
    }

    .recipe-description img{
        width: 60%;
    }

    .recipe-description .visually-hidden + p{
        width: 35%;
        text-align: right;
    }

    .recipe-details dl{
        display: flex;
        justify-content: space-around;
        color: rgba(122,191,191,.5);
        background-color: #0D0D0D;
        padding: 1rem;
    }

    .recipe-details dt{
        font-weight: bold;
        display: block;
    }

    .recipe-details dd{
        margin: 0 0 1rem 0;
    }

    .ingredients, .directions{
        display: inline-block;
        vertical-align: top;
        width: 49%;
        margin-right: 1%;
    }

    .ingredients ul, .directions ol{
        list-style-type: none;
        padding: 0;
    }

    .side-dishes{
        background-color: #7ABFBF;
    }

    .side-dish{
        display: inline-block;
        width: 24%;
        margin: 1%;
        text-align: center;
    }

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-content{
        width: 49%;
    }

    .footer-content img{
        width: 100px;
        vertical-align: middle;

    }

    .footer-content p{
        display: inline;
        margin-left: 1rem;
    }

    nav.main-nav{
        width: 49%;
        display: flex;
        justify-content: flex-end;
    }

    nav.main-nav svg{
        margin-left: 1rem;
    }

}    


























































